[2015-11-16 13:12] benjy opened #1 "Add a delete command"
Would be handy if you could delete entries as well

[2015-11-16 16:18] bndw commented on #1
I agree, a delete command would useful.

I've added a few comments to your pull request; If you'd like to address those, I'd be happy to review again and get your changes merged. Thanks for the pull request!

[2015-11-18 11:43] benjy opened #3 "Add a way to view the login details"
Currently there is no way to view the login details other than using 'pick all' which isn't ideal since it prints the passwords to the terminal and it isn't very scalable.

I suggest adding something like:

    pick alias -u
    # outputs: admin@example.com

Might even be worth adding a flag to view the entire entry?

Also to clarify, this isn't the same as `export PICK_CONFIG='{"verbose":true}'`

[2015-11-19 03:54] #1 closed

[2015-11-19 04:16] bndw commented on #3
I agree- a way to access a username would be useful and I think https://github.com/bndw/pick/pull/4 will suffice.

Looking ahead, I'm not super thrilled with the interface. I initially had a few more flags, like `--token`, which today lives in `PICK_CONFIG`. The current design of the cli/config feels confused and lacking cohesion for me. I'm going to open an issue to track some design changes and

[2015-11-19 04:18] #3 closed

[2015-11-19 04:51] bndw opened #5 "Design changes"
The current interface and design is not very cohesive. This issue is to flush out changes.

#### Concepts
These are the basic representations used.

##### Credential
A credential represents the username/password required to authenticate with something. A credential is identified by an alias. A credential's username may be derived from an existing *account*.

[code]

##### Account (new)
An account

[2015-11-19 04:52] bndw commented on #5
@benjy Let me know if you have any feedback since you've been contributing!

[2015-11-20 02:11] benjy commented on #5
I think the new interface makes sense. One thing I'd like to add, is the current configuration is global to the application, maybe we need to make it keyed by command, so you can have pre-configured granular output control per command.

[2015-11-22 23:10] bndw commented on #5
I've decided against adding in accounts at this time.

[2015-11-22 23:10] #5 closed

[2015-11-27 04:03] jpgoldberg opened #7 "Numerous issues posted elsewhere"
In a discussion on Quora, I described a handful of potential issues. Forgive me for not breaking them down into several issues here (or submitting patches), but I thought it would be useful for these to be mentioned somewhere where you could find them.

http://qr.ae/RbhBAk

[2015-11-28 21:00] bndw commented on #7
Hi @jpgoldberg, thanks for taking the time to review the code, I really appreciate your thoroughness. For the record, I'll pull over your main points and address them here.

#### Modulo bias
This is a bug and I appreciate you catching it. I'll submit a patch to resolve this for correctness, but this does not impact the security of the generated passwords given their length.

#### Clipboard relianc

[2015-11-28 21:00] #7 closed

[2015-11-28 21:04] bndw opened #8 "Modulo bias"
Originally reported by @jpgoldberg

re: https://github.com/bndw/pick/blob/master/pick#L151-L154

[2015-11-28 21:11] bndw commented on #8
@jpgoldberg Here's a stab at resolving the bias:

[code]

If I've implemented this correctly, the above should make sure the actual `len(chars)` used to derive the password is a divisor of 256.

[2015-12-02 06:22] #8 closed

[2015-12-03 06:13] ZeldaZach opened #9 "Duplicate Alias Check"
There doesn't seem to be a duplicate alias check. No warning is generated when trying to overwrite an old alias.

[code]
Leads to
[code]
when `pick foobar` or `pick all`ing.

However, if I were to run the same set of commands again, and change the data...
[code]
What is stored is now
[code]

[2015-12-03 12:01] Commenter123 opened #10 "Troubles with GPG and PATH"
--- SNIP ---

$ pick --init
Enter password

Creating safe at /home/domain/myuser/.pick
Traceback (most recent call last):
  File "/home/domain/myuser/bin/pick", line 241, in <module>
    pick.initialize_safe()
  File "/home/domain/myuser/bin/pick", line 148, in initialize_safe
    self.write_safe(safe)
  File "/home/domain/myuser/bin/pick", line 47, in write_safe
    ps2 = subprocess.check_output(

[2015-12-03 12:09] Commenter123 commented on #10
Problem seems to be related to the gpg version used (from MacGPG).
When using brew's gpg it works fine..

[2015-12-03 17:00] bndw commented on #10
@Commenter123 Thanks for the report, I'm also running brew's GPG (1.4.19).

I don't have experience with MacGPG2, but I'll dig in a bit and see if there is any way we can support both, otherwise forcing brew with a sanity check might be a decent fix.

[2015-12-03 17:04] bndw commented on #9
Hi @ZeldaZach, thanks for the report.

I'm aware of this behavior and was previously OK with it, however now that I've moved all of my credentials over to Pick, I'd hate to accidentally overwrite one.

I think a simple prompt would resolve the issue:
[code]

[2015-12-03 17:06] ZeldaZach commented on #9
I'm fine with the overwrite warning as a fix, and this would update the modified_on date and leave the original created date, correct? I'll see if I can do it, but if not thanks for taking the time to fix this

[2015-12-03 17:43] bndw commented on #9
@ZeldaZach We could keep the original created_on date, but it feels more correct to me to just overwrite the entire entry.

Image having an existing credential with the alias `github`. If you end up changing your github username, and then want to capture that credential in Pick, I'd think of it as a new credential more than an updated one.

[2015-12-03 17:46] ZeldaZach commented on #9
Fair enough. Is there a way to change passwords on the alias? I don't recall seeing it and that is the only thing i feel the modification date is worth having for.

[2015-12-03 17:58] bndw commented on #9
Great point. I threw the `created_on` and `modified_on` properties in there because I imagined they'd be useful in the future. Updating a password is not a feature that exists today, but the modification date would absolutely be used for that.

1. Let's surface the overwrite warning to resolve this issue
2. I'll put together a list of features that would be nice (e.g. updating passwords) and track

[2015-12-03 19:04] leonklingele commented on #10
afaik MacGPG will not link its binary into /usr/local/bin if there already is a "gpg" file.

Anyway, quick fix would be to symlink your homebrew's gpg from the Cellar dir into ~/bin and use it as the very first folder in your PATH.
There should be no side effects.

[2015-12-04 16:49] #9 closed

[2015-12-04 16:55] bndw commented on #10
I'm going to close this issue as it relates specifically to a user's configuration of their PATH, which has been resolved.

If more people start running into issues around GPG and their PATH, it may be worthwhile to add some general "troubleshooting" steps to a wiki.

[2015-12-04 16:55] #10 closed

[2015-12-07 00:00] leonklingele opened #15 "Consider not using subprocess"
1. As `subprocess` is used to encrypt / decrypt the safe with GPG, one can easily intercept the password, as it is passed as a flag to that subprocess (dumb way would be to call `ps aux | grep gpg` thousands of times a second and hope it will catch the subprocess call). Fix for this: Do not use `--passphrase` flag for gpg.

  2. pick suggest reading the password from "PICK_TOKEN" env var: https://

[2015-12-07 02:38] bndw commented on #15
Hi @leonklingele, thanks for taking the time to review the code and offer some feedback. I've addressed your points below-

Agreed. This was something I added early on when I still wasn't sure where this project was going. At this point I agree, it should be removed.

I used GPG initially because it was what I'd previously been using [in bash](https://github.com/drduh/pwd.sh). So from a design sta

[2015-12-08 14:31] leonklingele commented on #15
One could use https://github.com/dlitz/pycrypto or https://github.com/Legrandin/pycryptodome
The former seems to be a dead project, no commits made since 2014.
The latter is too new to use in production imo.

As the code base for this project is rather small, one could work on a golang implementation.
Go even supports AES-GCM right out of the box.
I could work on a PR if wanted :)

[2015-12-09 23:25] bndw commented on #15
I wasn't able to find a suitable library for newer ciphers, either. Given this constraint, I don't see decent way to avoid passing the `--passphrase` to gpg.

To that point, the issue I see with collecting and passing the passphrase is a malicious process could intercept the passphrase from the gpg invocation (`ps aux | grep gpg)

**Given the current Python implementation, I don't see a way around

[2015-12-10 08:17] leonklingele commented on #15
Sure, just push it. :)

[2015-12-10 08:17] leonklingele commented on #15
Sure, just push it. :)

[2015-12-10 16:21] bndw commented on #15
@leonklingele https://github.com/bndw/pick/tree/f/go

It's currently using GB for builds- I'm definitely open to ditching that and using the standard Go build tools (this was my first project in Go)

[2015-12-10 18:49] leonklingele commented on #15
I will take a look at it. Might take some time though :unamused:

Here are some things I noticed after a quick first look at source:
  1. For additional security do not use `openpgp` package. Use `crypto/aes` for AES-GCM support instead. Example: https://play.golang.org/p/5ziXIL_avB
  2. Don't use user's master password directly to encrypt the safe. Derive a key from that password using `pbkdf2.Ke

[2016-02-24 10:42] mcmz opened #16 "Clear clipboard"
Is there a chance to simply clear the clipboard after some time? The best case for the 'cp' command IMHO would be, to set the focus back to the last opened window, to enhance the copy paste process.

Best regards

[2016-02-25 19:32] bndw commented on #16
Hi @mcmz,

The `cp` command simply copies the value to the clipboard and returns control. I'd rather not add a command to clear the clipboard.

[2016-02-25 19:32] #16 closed

[2016-08-23 04:36] #15 closed

[2016-09-04 09:10] leonklingele opened #22 "Use custom config for openpgp"
Use a custom config for `openpgp.ReadMessage` and `openpgp.SymmetricallyEncrypt` to:

1. Use `AES256` instead of the default `AES128`
2. Increase `S2KCount` from `65536` to a higher value

[2016-09-04 09:11] leonklingele opened #23 "_password should not be a global variable"
Move it to the `Safe` struct.

[2016-09-04 09:15] leonklingele opened #25 "utils.GetAnswer should get a default value parameter"
- utils.GetAnswer should get a default value parameter
- Default value `Y` / `N` should be uppercased

[2016-09-04 17:35] bndw commented on #23
Agreed, a private attr on `Safe` sounds good to me. I'll get that in shortly.

[2016-09-04 18:22] bndw commented on #22
@leonklingele I'd like to consider the following points around adding configuration to the encryption

### Configuration file
I'd prefer to use a TOML or YAML file for config. Currently, there is no `config` file. We may consider using `github.com/spf13/viper`, as it plays well with the CLI ( `spf13/cobra`) we're using.

Here's a rough example of what I had in mind. I'd expect to find this in `~/.

[2016-09-04 18:45] bndw opened #27 "Makefile build target broken"
The manual installation steps in the readme fail on the `make` step.

[code]

cc: @leonklingele

[2016-09-04 18:53] #23 closed

[2016-09-04 18:59] bndw commented on #27
[code]

We should be able to achieve the same functionality with `go test -v ./...`

[2016-09-04 19:18] #25 closed

[2016-09-04 20:01] bndw opened #29 "Panic on linux-amd64"
[code]
Any command will result in a panic when built with `GOARCH=amd64 GOOS=linux`. This is a result of the usage of `user.Current` from `os/user` (https://github.com/golang/go/issues/6376).

Consider moving to https://github.com/mitchellh/go-homedir

[2016-09-04 20:11] leonklingele commented on #27
I'm sorry! Fixed with https://github.com/bndw/pick/pull/30

[2016-09-04 20:12] leonklingele commented on #27
Regarding go tests: What's the problem with the way it is in `Makefile`?

[2016-09-04 20:19] bndw commented on #27
Both methods will certainly work; my suggestion simply uses the `go` tool directly rather than also using `find`.

[2016-09-04 20:23] leonklingele commented on #27
Your command will also run the unit tests from all vendor/ packages, which should avoided IMO.

[2016-09-04 20:28] bndw commented on #27
Good point

[2016-09-04 20:28] #27 closed

[2016-09-04 20:44] #29 closed

[2016-09-04 20:45] leonklingele opened #32 "Move commands (add, cat, copy, export, list, remove) to `commands` package"
Move commands (add, cat, copy, export, list, remove) to `commands` package so the project's root folder doesn't get cluttered :)

[2016-09-04 20:48] bndw commented on #32
@leonklingele Happy to checkout a PR for this

[2016-09-04 21:04] #32 closed

[2016-09-05 20:36] bndw commented on #22
https://github.com/bndw/pick/pull/35 Will unblock this

[2016-09-05 20:55] bndw commented on #22
@leonklingele We should now have the ability to expose this configuration through the config file, in `encryption.settings`.

Is this something you'd like to contribute?

[2016-09-05 21:43] leonklingele opened #40 "Duplicate config.go files"
We now have `crypto/config.go` and `backends/config.go` with the exact same contents.
Why?

[2016-09-05 21:51] bndw commented on #40
For flexibility; If/when we add additional backends, for example, we may find it necessary to add attributes to the `backends.config`. Same goes for the encryption clients. I do not believe those distinct packages should share configuration.

[2016-09-05 22:09] leonklingele opened #41 "Only save file once per command"
Currently, if you `pick add` an already existing account, the old account is first removed and then re-added.
This causes the file to be saved twice.

[2016-09-05 23:05] #40 closed

[2016-09-06 00:24] #41 closed

[2016-09-07 21:02] leonklingele commented on #22
See #48

[2016-09-10 08:57] leonklingele opened #58 "Add command to edit an account"
It would be nice to have an `edit` command to modify an already existing account, e.g. to:
- [x] generate / set a new password — We need to have an password-history, so your old passwords are not lost
- [x] rename the username
- [x] rename the account

[2016-09-10 08:57] leonklingele opened #59 "Add command to change the master password"
A command to change the safe's master password would be nice.

[2016-09-10 09:01] leonklingele opened #60 "Move version.go to commands package"
Move version.go to commands package. The version number should somehow be defined in main.go

[2016-09-10 17:17] leonklingele opened #61 "Add more tests"
- [ ] Test backends (currently only the Disk backend)
- [ ] Add more tests for the `add` command
- [ ] Add more tests for the `get` / `cat` command
- [ ] Add more tests for the `cp` command
- [ ] Add more tests for the `export` command
- [ ] Add more tests for the `list` / `ls` command
- [ ] Add more tests for the `remove` / `rm` command
- [x] Add a `pre-commit` hook, so code which breaks any test

[2016-09-10 17:19] bndw commented on #61
@leonklingele Was considering wiring up TravisCI for this, thoughts?

[2016-09-10 17:20] leonklingele commented on #61
👍 A `pre-commit` hook should still be added.

[2016-09-10 17:28] leonklingele opened #62 "Auto create backups"
This is really important. No one does backups until its too late ;)

Examples:

- Create a safe-backup before adding a new account
- Create a safe-backup at least once a day / once every hour (when `pick` is used)

These settings should be user-configurable in the config file.

[2016-09-10 17:47] bndw commented on #62
I agree, automated backups would be great.

We'll need to consider retention policies:
* Max number and/or age of backups to keep
* Maybe auto backups are stored in a single file that's just replaced, e.g. `autobackup.safe`.

[2016-09-10 17:50] bndw commented on #59
👍 Any ideas on a command name for that one?

[2016-09-10 17:58] bndw commented on #58
I'd like to flush out the usage for this one before implementing it; here's my first thought:

[code]

Examples
[code]

[code]
[code]

Thoughts?

[2016-09-10 18:06] bndw commented on #58
I think if we want to rename an account, e.g. `github` -> `github/bndw`, we should consider adding a `mv` command.

I'd prefer to stick to using built-in command names whenever possible. This keeps usage intuitive and familiar.

[2016-09-10 18:30] leonklingele commented on #59
Yeah, I thought about that too. No idea.
Maybe `$ pick safe password`?

[2016-09-10 18:32] leonklingele commented on #62
This will not help if you remove an account by accident / change the password.

[2016-09-10 18:38] leonklingele commented on #58
`pick mv github password` This is not intuitive.

[code]

[code]

[2016-09-10 18:39] bndw commented on #60
@leonklingele Checkout https://github.com/bndw/pick/pull/63

It feels like a hack, but I haven't thought of a better approach with the constraint of setting the version in `main`.

[2016-09-10 18:53] bndw commented on #58
Agreed, scratch that one.

**`mv` command**
I'm happy with adding a `mv` command for renaming accounts.

**`edit`** command
An interactive edit command sounds good, however I am not a fan of the variable argument naming,  `[user/name/username`] and `[pswd/pass/password`].

I see no benefit in having the user make a cognitive decision about which variety to use. I'd much prefer to offer a single wa

[2016-09-10 19:27] bndw commented on #59
Adding a `safe` command, with children commands is an interesting idea.

This would potentially abstract less-used commands, keeping the top level CLI more streamlined. I could imagine sticking the `backup` and `export` commands in there, too.

[code]
[code]

I'm not sure this is a good idea, but it's a thought.

[2016-09-10 19:29] leonklingele commented on #59
I like the idea. Should I implement it?

[2016-09-10 19:34] bndw commented on #59
Sure!

[2016-09-10 19:48] bndw commented on #58
I'm not sure I see the value of this; could you explain the use case?

[2016-09-10 19:53] leonklingele commented on #58
Imagine this scenario:

1. Add new account with a custom / pick-generated password
2. You now want to change the password with `$ pick edit github password` (or similar)
3. Let pick generate you the new password and copy it to your clipboard
4. Now I would go to Github and change the password there, but I somehow need to access the old password

IMO it's too risky _not_ to store a complete history

[2016-09-10 19:58] bndw commented on #62
Agreed, it won't, but I'm not convinced we should natively protect against that. By design the user must enter their master password to make any changes, which in itself provides protection against accidental changes.

[2016-09-10 20:15] leonklingele commented on #62
Removing an account by accident can happen quite easily.
It happened to me before and I was very happy to have a backup.

[2016-09-10 20:22] bndw commented on #62
Wouldn't the `restore.safe` approach work for this scenario? It's essentially like an "undo", snapshotting the safe before each change.

1. `pick rm foo`
2. snapshot `pick.safe` -> `backups/restore.safe`
3. Whoops, I didn't mean to remove `foo`
4. `mv backups/restore.safe pick.safe`
5. `foo` is restored

[2016-09-10 20:25] bndw commented on #61
I've never checked in a `pre-commit`, what's the convention (e.g. stick it in `./hooks/pre-commit`)?

Will we need to add a Makefile target to install it?

[2016-09-10 20:26] #60 closed

[2016-09-10 20:27] leonklingele commented on #62
This way we only have an undo-history of 1.
Why not snapshot the safe more often / on every change?

[2016-09-10 20:30] bndw commented on #58
Thanks, that makes sense. I wonder if we should consider the same for any other fields on `safe.Account`, for example `username`.

[2016-09-10 20:33] leonklingele commented on #61
Usually hooks are stored in a `./hooks` directory.
Yeah, I would add a new target on which the `build` target depends upon.

Maybe we should move all go folders and the main.go from the root of this Git repo to `src/`, so we don't have mixed Go and non-Go folders?

[2016-09-10 20:35] bndw commented on #62
I see the value of keeping more than one backup. One downside is you could theoretically create a large number of backups, and that may be undesirable for certain users and/or certain backends.

How do you feel about exposing a config option to disable this feature (with it enabled by default).

[code]

[2016-09-10 20:38] leonklingele commented on #58
Personally, I don't need a history for an account's username. A history of the passwords is sufficient.

[2016-09-10 20:40] bndw commented on #61
👍 regarding `./hooks`.

I'm also all for top-level `src` folders. It doesn't seem to be the most idiomatic organization for Go projects, but I think it's much better, in this case, than mixing config/git stuff/etc and Go code.

[2016-09-10 20:42] leonklingele commented on #62
[1Password](https://1password.com/) keeps a maximum of 30 backups. Let's make this configurable to the user. The default should be at least 30. `-1` indicating "unlimited backups" and `0` "no backups at all".
Backups _can_ be a security issue.

[2016-09-10 20:43] leonklingele commented on #62
What do you think about making (parts of the) the configuration more user-accessible, by e.g. a new `$ pick config` command which asks some essential questions ("Do you want to enable automated backups"?)

[2016-09-10 20:45] leonklingele commented on #61
I will create a PR for this (src/ folder) as soon as the existing PRs are merged.

[2016-09-10 20:55] bndw commented on #62
I think that's a fine idea.

This is an interesting idea. We could follow a similar pattern to the `safe` command:

[code]

This would certainly be an enhancement/feature add because this control is all available by editing the config file.

[2016-09-10 21:00] bndw commented on #58
SGTM. I think adding a `[]string` to `safe.Account` to hold previous passwords may be sufficient.

[2016-09-12 05:34] leonklingele commented on #22
Merged in https://github.com/bndw/pick/commit/a84bdce97814b6b6073513ba2791fb9cca1bafc2. Thank you.

[2016-09-12 05:34] #22 closed

[2016-09-12 20:52] leonklingele opened #69 "Consider using new branching model"
The current Git branching model doesn't work well for a Go project.
For my bigger projects, I tend to use a different branching model:

- _No_ Pull Requests should be merged _directly_ to the master branch. Why? In the README we suggest to install pick by using `go get` / `git clone`. `go get` / `git clone` by default always fetches the latest `master`. Our master is not a stable release. It would

[2016-09-12 22:33] bndw commented on #69
This is a great idea for Go projects, given the reliance on master.

[2016-09-13 15:10] bndw commented on #69
Let's move forward with this, I've created the [develop](https://github.com/bndw/pick/tree/develop ) branch :)

[2016-09-13 15:14] bndw commented on #69
Keeping this open until the remaining open PRs are merged

[2016-09-13 15:21] bndw commented on #61
OpenPGP automatically encodes its crypto settings in the PGP MESSAGE.
The current test safe uses the default value of S2KCount: 65536 — This is why it's still a bit slow.

[2016-09-15 03:16] bndw opened #74 "Replacing an account copies the old password"
When adding an account that already exists and choosing to overwrite, the password that is copied to the clipboard is from the old account.

[2016-09-15 05:02] leonklingele commented on #69
Why not push the develop branch now? You can change the merge target or existing PRs.

[2016-09-15 05:35] leonklingele opened #76 "Allow to configure pick with a new `config` command"
As discussed in #62, it would be great to configure pick via `pick config [get / set] key`.

[code]

[2016-09-15 14:01] #74 closed

[2016-09-15 14:06] bndw commented on #69
`develop` branch created; please point your open PRs at that instead of master.

[2016-09-15 19:58] leonklingele commented on #69
Done.

[2016-09-15 20:33] leonklingele opened #80 "Add `note` command to store confidential texts / notes"
A new `note` command would be helpful to store confidential texts / notes in addition to `accounts`.

To add and edit a secure note:

[code]

To remove a secure note:

[code]

[2016-09-15 20:37] leonklingele commented on #80
This should be quite easy to implement using `os/exec` which opens the default $EDITOR with a temporary file in `~/.pick/tmp`.
Once this file is closed, pick will copy the file's contents to memory, delete the file, and save the contents to the safe.

[2016-09-15 20:56] leonklingele commented on #80
[code]

[2016-09-15 21:34] #69 closed

[2016-09-16 19:53] bndw commented on #80
Interesting idea.

I'd like to flush out the design for this feature before jumping into implementation (although I like the use of `$EDITOR`). My concern is adding something that feels like a bolted on feature.

[2016-09-18 23:37] leonklingele opened #83 "Installation via `go get` is broken"
Just noticed that #64 broke installation/update via `go get`. Oops. I rarely use `go get` to install apps.
Is it worth moving the files back out of the src/ folder or should we deprecate `go get`?

As soon as the next release is out (should be done soon 😃), I will prepare [Homebrew](https://github.com/Homebrew/brew/) packages for pick.

Con deprecation:
- `go get -u github.com/bndw/pick` is just o

[2016-09-18 23:47] leonklingele commented on #83
We could move `main.go` out of src/, but would have to update all import paths to include `src/`

[2016-09-19 00:00] bndw commented on #83
I'm going to remove the `go get` support from the readme and leave this issue open as a reminder.

[2016-09-19 00:01] #62 closed

[2016-09-19 00:07] bndw commented on #61
I've opened https://github.com/bndw/pick/milestone/1 and would really like to get some tests around all of the new code we've added.

In order of importance, I think we should start with the `crypto` clients. I've got a WIP branch of tests for `aes_openpgp`.

[2016-09-19 00:09] leonklingele commented on #61
👍 Will work on some tests tomorrow so we can get a new release.

[2016-09-19 00:17] leonklingele commented on #83
What about renaming `src/` to `go/` and updating the import paths?

[2016-09-20 21:51] leonklingele commented on #61
I'm sorry for the delay. Will prepare some tests on the weekend.

[2016-09-22 05:06] bndw commented on #61
No worries, in the meantime I've just opened PRs for [openpgp](https://github.com/bndw/pick/pull/87) and [aesgcm](https://github.com/bndw/pick/pull/88) :)

[2016-09-22 05:44] bndw commented on #83
I spent some more time thinking about the `src` folder and I'm leaning toward reverting it.

After looking at [a](https://github.com/docker/docker) [handful](https://github.com/kubernetes/kubernetes) [of](https://github.com/coreos/etcd) [other](https://github.com/spf13/hugo) [Go](https://github.com/golang/go) projects, I don't think there are a terrible amount of files in the root of this reposito

[2016-09-26 23:55] bndw opened #89 "Backend client interface"
Consider using builtin types to define the backend client's interface, like `io.ReadWriter`

[2016-10-01 17:48] bndw commented on #83
https://github.com/bndw/pick/pull/86 has been merged into `develop`, so this should be resolved on the next release.

[2016-10-01 17:52] bndw commented on #80
What if we add a `--note` flag to the commands?

[code]

[2016-10-01 20:16] bndw commented on #61
**Update**: We now have tests around the most of the `safe` and `crypto` packages. I'm less concerned with tests in the `commands` package because the commands are primarily delegating to other packages (like `safe`), although validation of that orchestration would be nice to have.

We do need to add a test for the Disk backend, but there are currently some un-exported fields which prevents blackb

[2016-10-01 20:25] leonklingele commented on #61
S**t. I still haven't prepared any tests for PBKDF2 / scrypt / various safe upgrade scenarios.
It's fine with me to release 0.3.0 now and add tests in an upcoming version.

[2016-10-01 20:35] bndw commented on #61
😱  I forgot about those tests.

I think we absolutely need *some* kind of tests around the upgrade scenarios, since bugs there could easily corrupt a safe. It's also important to validate the pbkdf2/scrypt funcs, as their integrity is quite important.

Are these tests your can contribute?

[2016-10-01 23:41] leonklingele commented on #61
1. #92

[2016-10-03 18:26] leonklingele commented on #61
2. #94

[2016-10-03 20:29] leonklingele commented on #80
Doesn't this make it much more complicated to implement and use?
I would rather add a `$ pick note` subcommand

[2016-10-08 17:17] bndw opened #95 "Setup TravisCI"
Running tests in the `pre-commit` hook is no longer practical due to the length of time they take.

This is currently blocked until the next release, when `go get` is fixed.

[2016-10-08 17:36] bndw commented on #80
@leonklingele Thought about this last night, along with some other general design things, and am totally onboard with adding `notes` as a first-class citizen.

If you're interested, I'd like to share/spitball some of these ideas so I can setup a bit of a roadmap. You can email me at `ben@bdw.to` to start the conversation (I didn't see any contact for you or I'd have just shot you a message).

[2016-10-10 23:53] #83 closed

[2016-10-16 22:12] leonklingele opened #100 "Consider using ChaCha20Poly1305 as default 'encryption method'"
Now that Go has officially added support for ChaCha20Poly1305 and we have a PR which adds it to pick (#99), it would be nice to use it by default (instead of OpenPGP).
What do you think @bndw ?

[2016-10-18 15:42] bndw commented on #100
Rad! I'd imagine we'll gain some noticeable speed increases.

After merging, I'm happy to consider defaulting to `ChaCha20Poly1305` after an agreed upon burn in period, due to how recently this functionality was added.

[2016-10-19 04:52] #95 closed

[2016-10-19 14:05] leonklingele commented on #100
You will not notice any difference b/w AES and ChaCha, as nearly 100% CPU time is used for key derivation.

[2016-10-19 15:16] bndw commented on #58
This is now in `develop` and will be available in the next release. Thanks @leonklingele!

[2017-01-06 05:36] #58 closed

[2017-01-06 08:35] leonklingele opened #112 "Errors: Pre-instantiate error variables"
[code]

[code]

[2017-02-01 23:15] leonklingele opened #116 "Add Github "topics""
Github today added a way to add "topics" (aka tags) to a repo.

Some ideas:
- password
- password-manager
- cli
- security
- crypto
- golang
- chacha20-poly1305
- aes-gcm
- openpgp
- bcrypt
- scrypt
- pbkdf2

[2017-02-14 04:38] bndw commented on #116
👍

[2017-02-14 04:38] #116 closed

[2017-02-14 05:29] bndw commented on #76
I'd prefer to not add this feature at this time. I feel like the TOML file is still human readable enough.

[2017-02-14 05:29] #76 closed

[2017-02-14 05:39] bndw commented on #100
https://github.com/bndw/pick/pull/117

[2017-02-14 05:39] #89 closed

[2017-02-14 08:04] leonklingele commented on #116
I don't know how `bcrypt` crept in to my comment. We don't use `bcrypt` (and likely won't ever do that).
Please remove `bcrypt`. I'm sorry 😿

[2017-02-14 08:11] leonklingele commented on #89
Why did you close this? It makes sense at least for some of our functions to accept builtin types.

[2017-02-14 17:49] bndw commented on #116
Lol. I didn't think twice because I use it in a handful of other projects :man_facepalming:

[2017-02-14 17:53] bndw commented on #89
I'm trying to keep issue count down by moving future enhancements, like this one, into the Projects section.

[2017-02-16 21:07] #100 closed

[2017-02-23 21:21] leonklingele opened #119 "New release, please :)"
Please create a new release once #114 and #118 are merged.
I'm desperately waiting to generate passwords interactively with an official release!

EDIT:
#108 should also be merged.

EDIT 2:
#121 should be merged as well. :)

EDIT 3:
#122

[2017-02-23 21:21] leonklingele commented on #119
@bergart FYI

[2017-02-23 21:24] leonklingele commented on #119
I think it's time to generate a new screencast to showcase all the new awesome features :)
What do you think @bndw?

Maybe we should also consider adding a small tutorial in non-GIF form.

[2017-02-23 21:26] leonklingele opened #120 "`import` command"
An import command would be nice to import object (e.g. credentials) from pick, 1Password & co.

[2017-02-23 21:29] leonklingele commented on #120
This library looks promising for imports of a 1Password vault: https://github.com/miquella/opvault

[2017-02-25 22:07] bndw commented on #120
A pluggable import feature would definitely be cool. I'd be happy to review a proposal if it's something you'd like to put together.

[2017-02-25 22:10] bndw commented on #119
Sorry for the delay,  I've been traveling; a new release is in-progress 😄

[2017-02-25 23:14] bndw opened #123 "Document!"
## Documentation
We desperately need some documentation. I'd prefer to tackle this in two ways:

### README
The readme should be short and concise. It should answer the following questions:
* What is pick?
* Why should I use pick?
* How do I use pick?

- [ ] Quickstart
- [ ] Install instructions (prefer the latest pre-build binary release, but this will only be an option once we hit 1.0).
- [ ] De

[2017-02-26 00:19] leonklingele commented on #80
Thanks for merging.

[2017-02-26 00:19] #80 closed

[2017-02-26 18:54] bndw commented on #119
Released [v0.4.0](https://github.com/bndw/pick/releases/tag/v0.4.0) 🎉

[2017-02-26 18:55] bndw commented on #119
What do you think @bndw?

Tracking docs in https://github.com/bndw/pick/issues/123

[2017-02-26 18:55] #119 closed

[2017-02-26 19:16] bndw commented on #61
I'm going to close this issue, as test coverage will continuously be a thing. I'd like to address this by requiring all Pull Requests to include tests. This should be documented in `CONTRIBUTING.md`.

The `commands` package has no test coverage and in order to get coverage there, we'll likely need to refactor the method signatures to facilitate mock user input. Let's treat that as an ongoing proje

[2017-02-26 19:16] #61 closed

[2017-02-26 19:18] leonklingele commented on #119
Awesome! Please also do a new homebrew release :)

[2017-02-26 19:19] leonklingele commented on #119
@bergart FYI

[2017-02-26 19:28] leonklingele commented on #123
👍  for Hugo and theme 1, but did you consider using [GoDoc](https://godoc.org/github.com/bndw/pick)?
GoDoc is the way to go (😹) if you ask me.

[2017-02-26 19:29] bndw commented on #119
@leonklingele Homebrew is in progress

[2017-02-26 19:33] bndw commented on #123
I'd like to do all of the above. We'll add a GoDoc badge to the README, have a useful README quickstart, and a docs site :)

[2017-02-26 19:35] leonklingele commented on #123
Sounds like a lot of work. Do you want to pass some tasks on to me? 😇

[2017-03-01 09:51] leonklingele opened #126 "Add support for Diceware passwords"
https://en.wikipedia.org/wiki/Diceware
You probably have seen [Correct Horse Battery Staple](https://xkcd.com/936/), which is such a password.

[2017-03-08 22:14] leonklingele commented on #126
Transferred to project section.

[2017-03-08 22:14] #126 closed

[2017-03-15 16:08] leonklingele commented on #123
[asciinema.org](https://asciinema.org/) looks like a decent solution to create screencasts.

[2017-03-16 18:24] bndw commented on #123
Maybe it's just me, but every time I see asciinema screencasts in the wild they don't seem to auto play, and when you click the play button they take you to a asciinema-hosted page.

Is that the same experience you've had?

[2017-03-16 18:31] leonklingele commented on #123
Hmm, there are tools to create GIFs out of asciinema recordings, e.g. https://github.com/tav/asciinema2gif
I haven't tried asciinema yet. Maybe they support editing so we don't need to record a new screencast every time but instead modify an existing one.

[2017-04-18 22:57] #112 closed

[2017-06-07 10:31] afincato opened #132 "How do you use pick on phone?"
Hi,
I'm really considering to move from 1password to `pick`, but the first thought was 'how do I access my passwords also on other computers, like my phone?'

What's your usage of pick and how do login to services on your phone?

Curious about yours and others' general workflow with it.

[2017-06-07 21:48] bndw commented on #132
Hi @afincato,

Pick is a CLI tool for managing passwords. It stores all credentials in an encrypted file called a `safe`, and you can copy that safe file from computer to computer. Some people like to stick their safe file in a synced folder (such as Drive or Dropbox).

With that said, there is no ability to use Pick on a phone. Since Pick is open source, it would be possible to write a mobile app

[2017-06-07 21:49] #132 closed

[2017-08-17 19:09] leonklingele opened #137 "Syncing pick safe with itself errors out: "panic: assignment to entry in nil map""
https://gist.github.com/leonklingele/ff7fb4d518bf7b24ec1fc29209a49ea3

[2017-08-17 22:12] bndw opened #141 "TravisCI tests fail on PRs"
The tests relying on this are related to the S3 backend. I think the best plan is to remove the reliance on an actual AWS connection from those tests. I'll sort this out ASAP.

[2017-08-17 22:13] bndw commented on #141
related:
https://github.com/bndw/pick/pull/138
https://github.com/bndw/pick/pull/139
https://github.com/bndw/pick/pull/140

[2017-08-18 01:34] bndw commented on #141
I'm removing the two tests that rely on an AWS S3 connection for the time being. Moving forward, we may consider standing up a mock s3 server in TravisCI for the tests.

[2017-08-18 01:40] #141 closed

[2017-08-18 01:49] bndw commented on #137
Nice catch. Closing as this has landed in develop.

[2017-08-18 01:49] #137 closed

[2017-08-18 01:49] bndw commented on #123
I'm closing this issue. This is ongoing and currently underway.

[2017-08-18 01:49] #123 closed

[2017-08-21 18:11] bndw commented on #120
Proposed formats to support for import

| Type | Reference lib |
| ----- | ------------- |
| 1password | https://github.com/miquella/opvault |
| lastpass | |
| pwsafe.org |  https://github.com/tkuhlman/gopwsafe |

[2017-08-21 20:44] srstevenson opened #144 "Installation with `go get` leads to version parsing error when loading safe"
When installing with `go get -u github.com/bndw/pick` (using Go 1.7.4 on `linux/amd64`) as documented in [`README.md`](https://github.com/bndw/pick#go-get), the [`main.version`](https://github.com/bndw/pick/blob/7d4e2c097ee5bb58c3a41fd7750ff836e1515c1e/main.go#L12) variable isn't injected, as it is when building using the Makefile. This results in a runtime error when loading the safe as the versi

[2017-08-21 20:56] srstevenson commented on #120
KeePassX is popular among people I think would be interested in pick; a cursory search lead to  [tobischo/gokeepasslib](https://github.com/tobischo/gokeepasslib) as a Go implementation.

[2017-08-21 21:00] leonklingele commented on #144
@srstevenson thanks for reporting this. I actually had this on my TODO list since the version file was introduced but didn't knew `pick` was completely broken with this change: https://github.com/bndw/pick/pull/105
I guess there is no other way than to revert to the old `const Version`.

[2017-08-21 23:49] bndw commented on #120
@srstevenson Thanks, added!

[2017-08-22 19:05] leonklingele commented on #144
Merged with aeb7fc637b0b0dbf94dee036ee52b0fc5eb123f6

[2017-08-22 19:05] #144 closed

[2017-08-23 09:01] srstevenson commented on #144
Thanks!

[2017-08-23 17:20] bndw commented on #144
@srstevenson Thank you for the thorough report

[2018-01-21 13:14] wozuo opened #170 "Location of pick.safe file"
Hi

First of all I want to say I love pick, great work!
I was wondering if there is a command to change the location of the pick.safe file? (e.g. to put it in a Dropbox, Keybase, etc. folder)

best regards
Marc

[2018-01-21 13:16] leonklingele commented on #170
Hi @wozuo,

unfortunately there's no CLI arg yet to specify the location of a pick safe.
You can however use the config file to do so: https://github.com/bndw/pick/blob/966e8aa6942427c68ea2e644b7577c1b94316792/config.toml.in#L34

[2018-01-21 14:09] wozuo commented on #170
Hi @leonklingele

aah great thanks a lot!

[2018-01-22 17:15] #170 closed

[2018-04-06 18:31] bndw opened #174 "Implement locking in s3 backend"
Locking was introduced in https://github.com/bndw/pick/pull/171 and needs to be properly implemented in the S3 backend

[2018-04-06 21:04] leonklingele commented on #170
@wozuo #173 might be of interest for you, it lets you specify the safe location with `--safe`. Please give it a try if you find some spare time :)

[2018-04-06 21:12] wozuo commented on #170
Oh nice work @leonklingele I'll try it out asap!

[2018-07-12 16:16] bndw opened #176 "Install script"
It would be nice to offer a [curl-able install script like dep's](https://github.com/golang/dep/blob/master/install.sh), e.g.

[code]

[2018-07-12 16:21] leonklingele commented on #176
[code]

?

[2018-07-12 16:57] bndw commented on #176
@leonklingele here are some key differences with the install script approach:
* Does not depend on Go
* Uses a [release](https://github.com/bndw/pick/releases) instead of the HEAD of master

[2018-07-13 16:18] leonklingele commented on #176
I've never deployed releases to GitHub, do you compile the stuff locally and upload the resulting binaries? If so, I'd prefer to not have such an install script (nor any release binaries at all) as a user shouldn't trust in something he can't reproduce.
Have you tried to make a reproducible build of pick? Filippo's post might be of interest: https://blog.filippo.io/reproducing-go-binaries-byte-by-

[2018-07-13 17:58] bndw commented on #176
Releases are compiled locally on my machine and uploaded to Github. This task should be offloaded to CI and kicked off with a git tag. You can find this pattern in projects like [Envoy](https://github.com/envoyproxy/envoy).

I am interested in this "minimal" installation script approach for the very fact that it does not require installing anything on the host machine (assuming the host has curl).

[2018-10-24 23:27] drduh opened #178 "Build problem on OpenBSD"
[code]

[2018-10-27 00:48] leonklingele commented on #178
Looks like `-mindepth 2` is not honored in your version of `find`. `find . -mindepth 2` should not return the CWD (`.`). Please try the following patch:

[code]

@bndw what do you think about (finally) removing the Makefile-hack now that [Go modules](https://github.com/golang/go/wiki/Modules) are a thing?

[2018-10-27 15:40] drduh commented on #178
I don't think BSD supports the `shell` directive:

[code]

[2018-10-29 02:37] bndw commented on #178
@leonklingele I'd almost forgotten, that's a great idea.

[2018-10-31 01:11] bndw commented on #178
Regarding Go modules-- @leonklingele correct me if I'm wrong but would this mean we cannot support < Go 1.11?

[2018-10-31 01:17] leonklingele commented on #178
With Go modules (and without the Makefile hack), the project can only be build from `GOPATH` when using a Go version < 1.11.

[2018-10-31 21:56] bndw opened #182 "v1.0 release"
I think this software has matured enough to warrant a 1.0 release. Creating this issue to track any items or considerations for that release.

/cc: @leonklingele

[2018-10-31 21:56] leonklingele commented on #59
Merged to develop :whale:

[2018-10-31 21:56] #59 closed

[2018-10-31 22:05] bndw commented on #182
We could release the HEAD of develop at `v0.8.0`, let it shake out for a bit and then create `v1.0` off that?

[2018-11-01 00:07] leonklingele commented on #182
Sounds good to me, but make it a `v1.0.0` (so it adheres to the semantic versioning style).

[2018-11-02 19:42] bndw commented on #182
Candidate `v0.8.0` has been released: https://github.com/bndw/pick/releases/tag/v0.8.0

[2018-11-02 20:06] bndw commented on #178
If using go modules still requires the project to live in the `GOPATH`, then I am not sure the benefit.

At this stage I'd be OK with removing the Makefile hack and updating the README with a requirement to clone into the `GOPATH`. While it's nice to be able to build from any directory, it seems like it's more trouble than it's worth. We provide pre-build binaries of every release for folks that d

[2018-11-02 20:29] bndw commented on #178
@drduh I'm working on a repo, just got an environment setup

[code]

[2018-11-02 20:50] bndw commented on #178
Aside from the `find` discrepancies, it appears that a couple of our Go dependencies may not build on openbsd

[code]

[2018-11-02 21:43] leonklingele commented on #178
See my updated comment above: `With Go modules (and without the Makefile hack), the project can only be build from GOPATH when using a Go version < 1.11.`

@bndw can you please check if the following patch fixes the issue?

[code]

There's an open issue @ upstream: https://github.com/pkg/term/issues/25. A fix is available too: https://github.com/pkg/term/pull/30.

[2018-11-03 04:22] bndw commented on #178
@leonklingele applied the patch
[code]

And ran the build
[code]

[2018-11-03 08:54] leonklingele commented on #178
https://github.com/pkg/term/pull/30 has been merged. A fix for github.com/marcsauter/single is available here: https://github.com/marcsauter/single/pull/11.

[2018-11-04 00:38] bndw commented on #178
Once that single PR lands, I'll give it another spin 🤞

[2018-11-04 10:05] leonklingele commented on #178
@bndw apply this patch:

[code]

Followed by `dep ensure`. This adds support for OpenBSD, NetBSD and DragonFlyBSD (inside `GOPATH` and using `go build`, the Makefile-hack still needs to be cleared up). I verified a build on all 3 OS'.

[2018-11-05 02:28] bndw commented on #178
@leonklingele confirmed myself on OpenBSD, thanks! 🎉

[2018-11-05 02:29] bndw commented on #178
PR that applies the above diff on dependencies: https://github.com/bndw/pick/pull/185

[2018-11-06 17:54] bndw commented on #178
- [x] Go code is now building on OpenBSD, NetBSD, and DragonFlyBSD
- [ ] Resolve the Makefile compatibility issues, `find`, `shell`, et al

[2018-11-07 03:14] drduh commented on #178
Looking good on develop :+1: - thanks for the updates!

[2018-11-07 03:32] bndw opened #186 "Safe defaults to openpgp"
Running `pick init` after a fresh install creates a safe with openpgp encryption, however the assumed default type is chachapoly.

https://github.com/bndw/pick/blob/master/crypto/client.go#L18-L29

[code]

[2018-11-07 07:52] leonklingele commented on #186
Default is still at OpenPGP: https://github.com/bndw/pick/blob/6c84ef298f8ea0c8f3299469c4f3ceedf760c81c/crypto/config.go#L25

I guess the `Type` property should not be set for a new _default_ encryption provider, as it is clearly biased otherwise.

Issue was introduced here: https://github.com/bndw/pick/pull/48/files#diff-e59e4bc49ae6085b1bec59c8fc8e56fdR20
And should (must!) have been spotted in

[2018-11-08 15:55] bndw commented on #186
Thanks for looking into this, I'll submit a PR

[2018-11-30 05:45] bndw commented on #178
Reference for what install could look like with Go modules: https://github.com/gohugoio/hugo#fetch-from-github

[2018-11-30 19:37] #186 closed, assigned to nobody

[2018-11-30 19:37] bndw commented on #182
We'll want to include https://github.com/bndw/pick/commit/63ad98bd45db603b7930008199fe45ee4d99708e in the release.

[2018-12-01 14:19] pshirali opened #190 "--safe switch fails to pickup safe file from supplied location"
I'm using the 0.8.0 release binary (darwin)

If my `pick.safe` is at a non-default location and a `~/.pick/pick.safe` is missing, the `--safe` switch doesn't load the `pick.safe` from the supplied location.

Example:
[code]

I noticed some discussion on #173 around the path being relative to `~/.pick`, however, that doesn't work either. I'd expect the filename to point to an absolute file; but ple

[2018-12-01 14:50] leonklingele commented on #190
Please try to create an empty `config.toml` in `~/.pick/`:

[code]

This is something I‘ve noticed as well and it is related to cobra / viper (libraries for CLI argument and command parsing). I haven't found a fix so far (except to ensure a config file exists).
Bug report @ upstream: https://github.com/spf13/viper/issues/472

[2018-12-01 16:48] leonklingele commented on #190
@pshirali please check if #191 fixes the issue for you (it should!).

[2019-01-06 17:44] bndw opened #192 "Generate configs"
We should bake the default `config.toml` into the pick binary and add a command sending it to stdout, allowing users to generate config files manually. Additionally, we may consider having `pick init` generate this file.

#### Proposed Usage
[code]

Related: https://github.com/bndw/pick/pull/191#issuecomment-443462312

[2019-06-28 21:54] ghost opened #195 "XDG Base Directory Support"
Could support of [XDG Base Directories](https://wiki.archlinux.org/index.php/XDG_Base_Directory) be considered? Although setting a custom location is supported, it would be nice to be freedesktop.org compliant and use XDG base directories by default. So `.config/pick` instead of `.pick`,  which pollutes the home directory.

[2019-07-08 21:16] nusibrains opened #196 "transfer credentials to another laptop"
Hi,
Would like to transfer my credentials to another laptop.
any option?

[2019-07-08 21:49] #196 closed, assigned to nobody

[2019-11-06 20:52] bndw opened #197 "Transition to read-only"
I'd like to transition this repository to `read-only`, but before doing so I'd like to wrap up any inflight work.

The two items off the top of my head would be:
- Wrapping up the tests on https://github.com/bndw/pick/pull/191 to merge. @leonklingele is this something you'd like to contribute?
- Publish a final release

EDIT: Looks like November 8th will mark the 4 year anniversary of this project

[2019-11-08 21:54] #197 closed, assigned to bndw